/* .Login {
  background-color: #27a745;
  border: none;
  padding: 10px 40px 10px 40px;
  color: #fff;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 500;
}
 */

@media screen and (max-width: 1440px) {
  /* Navbar */
  .nav-links {
    width: 75%;
  }
  .adv-article {
    gap: 130px;
  }
}
@media screen and (max-width: 1340px) {
  .nav-links {
    width: 75%;
  }
  .navitems {
    gap: 40px;
  }
  .adv-article {
    gap: 100px;
  }
}
@media screen and (max-width: 1290px) {
  nav {
    padding: 20px 35px 20px 35px;
  }
  .nav-links {
    width: 75%;
  }
  .navitems {
    gap: 35px;
  }
  .adv-article {
    gap: 80px;
  }
}
