nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.Logo {
  width: 150px;
}
.nav-links {
  display: flex;
  align-items: center;
  width: 70%;
  font-size: 14px;
}
ul {
  display: flex;
  list-style: none;
  color: #fff;
  gap: 50px;
}
.sign-up {
  background-color: transparent;
  border: none;
  text-decoration: underline;
  color: #fff;
}
.Login {
  background-color: #27a745;
  border: none;
  padding: 7px 20px 7px 20px;
  color: #fff;
  border-radius: 5px;
}
