

/* Sign Up for different User types */

#signup {
  background-image: url(./assets/Signup_default.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  display: flex;
  justify-content: center;
}

#signup-container {
  width: 60%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#usertype {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  width: 80%;
}

#usertype h3 {
  margin-bottom: 25px;
  font-size: 20px;
}

#role {
  font-size: smaller;
  color: #28a745;
  font-size: 18px;
  margin-bottom: 15px;
  font-weight: 700;
}

/* Cards for both user types */
#freelancercard,
#clientcard {
  display: flex;
  align-items: center;
  padding: 30px;
  border: 1px solid #6c757d;
  border-radius: 20px;
  width: 100%;
  height: 200%;
  margin-bottom: 10px;
  font-size: larger;
  cursor: pointer;
}

#freelancerPic {
  width: 150px;
  height: 150px;
  margin-right: 80px;
  border-radius: 10px;
  background-image: url(./assets/freelancer_Pic.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#clientPic {
  width: 150px;
  height: 150px;
  margin-right: 80px;
  border-radius: 10px;
  background-image: url(./assets/clientPic.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Card Animations*/

#freelancercard:hover,
#freelancercard:focus-visible,
#clientcard:hover,
#clientcard:focus-visible {
  border: 1px solid #28a745b2;
}

/* Create Account button */
#createacct {
  align-self: center;
  border: none;
  border-radius: 6px;
  margin-bottom: 20px;
  padding: 15px 24px 15px 24px;
  background-color: rgb(155, 154, 154);
  font-size: medium;
  color: #fff;
}
.create-btn {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

#createacct:hover,
#createacct:focus-visible {
  background-color: #4caf50;
  color: #fff;
}

#have-acct {
  font-size: 14px;
  align-self: center;
}

#usertype a {
  color: #28a745;
}

/* Create Account Page */
#create-acct-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 200px 30px 200px;
}

#create-acct-form {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#google-signup {
  width: 70%;
  background-color: #28a745;
  display: flex;
  justify-content: center;
  align-self: center;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;
  cursor: pointer;
}

#google-icon {
  position: absolute;
  left: 80px;
  top: 40%;
  transform: translateY(-20%);
}

#name,
#email,
#password,
#confirm-pass,
#phone {
  width: 100%;
  margin-top: 10px;
}

#name {
  display: flex;
  justify-content: space-between;
}

#name input {
  width: 40%;
  padding: 10px 45px 10px 10px;
}

#email input {
  width: 100%;
  padding: 10px 45px 10px 10px;
}

#password input {
  width: 100%;
  padding: 10px 45px 10px 10px;
}

#confirm-pass input {
  width: 100%;
  padding: 10px 45px 10px 10px;
}

#phone input {
  width: 100%;
  padding: 10px 45px 10px 10px;
}

#promotional-email,
#acknowledgement {
  width: 100%;
  margin-top: 10px;
  display: flex;
  align-items: center;
  padding-right: 200px;
  font-size: 12px;
}

#promotional-email label input {
  accent-color: rgb(115, 233, 115);
  margin-right: 40px;
}

#acknowledgement label input {
  accent-color: rgb(115, 233, 115);
  margin-right: 40px;
}

#create-acct-form button {
  border-style: none;
  border-radius: 14px;
  background-color: #b8b8b8;
  margin-top: 20px;
  padding: 10px 30px 10px 30px;
  color: whitesmoke;
  cursor: pointer;
}

#create-acct-form p {
  margin-top: 10px;
  font-size: 12px;
}

#create-acct-form a {
  color: #28a745;
}

