/* Navbar styling */
nav {
  display: flex;
  justify-content: space-between;
  padding: 15px 40px 15px 40px;
  background-color: rgba(108, 117, 125, 0.4);
}
.Logo {
  width: 200px;
}
.nav-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70%;
  font-size: 18px;
  font-weight: 500;
}
.navitems {
  display: flex;
  list-style: none;
  color: #fff;
  gap: 70px;
}
.nav-btn {
  display: flex;
}
.Login {
  background-color: #27a745;
  border: none;
  padding: 10px 40px 10px 40px;
  color: #fff;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 500;
}

/* Hero section styling */
.background {
  background: url(./assets/background_image.png);
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  height: 100vh;
}
.main {
  position: relative;
  top: 270px;
  padding-left: 90px;
}
.main h1 {
  color: #fff;
  font-weight: 700;
  font-size: 75px;
  width: 850px;
  line-height: 85px;
  padding-bottom: 30px;
}
.catch-phrase {
  width: 550px;
  line-height: 35px;
  font-size: 20px;
  padding-bottom: 20px;
}
.Join {
  padding: 15px 70px 15px 70px;
  border: none;
  border-radius: 10px;
  background-color: #28a745;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
}

/* Advert design section */
.adv1 {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.adv-article {
  display: flex;
  gap: 160px;
  margin-bottom: 20px;
}
.inner-div {
  display: flex;
  flex-direction: column;
}
.inner-div h2 {
  font-size: 40px;
  font-weight: 500;
  line-height: 50px;
  width: 400px;
  padding-top: 25px;
  padding-bottom: 30px;
}
.inner-div p {
  width: 450px;
  line-height: 30px;
  margin-top: -10px;
}
.inner-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding-bottom: 40px;
}
.inner-list li {
  display: flex;
  gap: 10px;
  align-items: center;
}
.learn-more {
  background-color: transparent;
  padding: 15px 40px 15px 40px;
  border-radius: 10px;
  border: 1px solid #9e9e9e;
  color: #9e9e9e;
}
.sign {
  border: none;
  background-color: transparent;
  color: #9e9e9e;
  margin-left: 30px;
}
.intro {
  color: #28a745;
  font-size: 24px;
  margin-bottom: -10px;
}
.sub-paragraphs {
  display: flex;
  gap: 25px;
  padding-top: 10px;
}
.sub-paragraphs p {
  width: 210px;
  padding-top: 20px;
}

/* Pitch section design */
.pitch {
  display: flex;
  padding-top: 50px;
  flex-direction: column;
  align-items: center;
}
.pitch h1 {
  font-weight: 600;
  font-size: 40px;
  padding-bottom: 70px;
}
.pitch-article {
  display: flex;
  justify-content: center;
  gap: 60px;
  position: relative;
  height: 505px;
}
.pitch-article article {
  width: 19.5%;
  display: flex;
  flex-direction: column;
  line-height: 25px;
  border-radius: 20px;
  padding: 10px;
  box-shadow: 1px 1px 10px 4px rgba(31, 152, 58, 0.3);
}
.pitch-article h2 {
  font-weight: 600;
  font-size: 23.5px;
  padding-top: 20px;
  padding-bottom: 20px;
  line-height: 32px;
}
.pitch-btn button {
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border: none;
  border-radius: 10px;
  color: #28a745;
  font-size: 16px;
  font-weight: 500;
  margin-top: 30px;
  position: absolute;
  bottom: 15px;
  padding-left: 10px;
}
.Link {
  text-decoration: none;
}
/* Footer component design */
footer {
  background-color: #d3dce7;
  padding: 50px;
  margin-top: 50px;
}
.first-footer {
  display: flex;
  justify-content: space-between;
}
.footer-img {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: #fff;
  font-size: 25px;
}
.footer-img img {
  width: 40%;
}
.footer-img div {
  display: flex;
  gap: 20px;
}
.footer-links {
  display: flex;
  justify-content: space-around;
  width: 50%;
}
.footer-links h1 {
  font-size: 20px;
}
.footer-links li {
  list-style: none;
  margin-top: 30px;
  font-weight: 500;
}
hr {
  margin-top: 40px;
  border: 1px solid #fff;
}
.second-footer {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
  font-weight: 600;
}
.second-inner {
  display: flex;
  gap: 90px;
}

@media screen and (max-width: 1440px) {
  /* Navbar */
  .nav-links {
    width: 75%;
  }
  .adv-article {
    gap: 130px;
  }
}
@media screen and (max-width: 1340px) {
  .nav-links {
    width: 75%;
  }
  .navitems {
    gap: 40px;
  }
  .adv-article {
    gap: 100px;
  }
}
@media screen and (max-width: 1290px) {
  nav {
    padding: 20px 35px 20px 35px;
  }
  .nav-links {
    width: 75%;
  }
  .navitems {
    gap: 35px;
  }
  .adv-article {
    gap: 80px;
  }
}



    /* Sign Up for different User types */

#signup
{
      background-image: url(./assets/Signup_default.png);
    
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    
      width: 100%;
    
      display: flex;
      justify-content: center;
}
    
#signup-container
{
      width: 60%;
      height: 90vh;
    
      padding:0px 70px 0px 70px ;
}
    
#usertype
{
      display: flex;
      flex-direction: column;
    
      padding-top: 30px;
}
    
#usertype h3
{
      margin-bottom: 10px;
}
    
#role
{
      font-size: smaller;
      color: #28A745;
    
      margin-bottom: 10px;
}
    
    
          /* Cards for both user types */
#freelancercard, #clientcard
{
      display: flex;
      align-items: center;
    
      padding: 30px;
    
      background-color: #28a74636;
      border-radius: 20px;
      
      width: 100%;
      height: 200%;
    
      margin-bottom: 10px;
    
      font-size: larger;
      cursor: pointer;
    
}
    
#freelancerPic
{
      width: 100px;
      height: 100px;
      margin-right: 80px;
    
      border-radius: 10px;
    
      background-image: url(./assets/freelancer_Pic.png);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
}
    
#clientPic
{
      width: 100px;
      height: 100px;
      margin-right: 80px;
    
      border-radius: 10px;
    
      background-image: url(./assets/clientPic.png);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
}
    
        /* Card Animations*/
    
#freelancercard:hover,
#freelancercard:focus-visible
{
      border: 2px solid;
      border-color: #28A745B2;
}
    
#clientcard:hover,
#clientcard:focus-visible
{
      border: 2px solid;
      border-color: #28A745B2;
}
    
    
          /* Create Account button */

    


#createacct
{
      width: 30%;
      align-self: center;
    
      border: none;
      border-radius: 6px;
    
      margin-bottom: 20px;
    
      padding: 20px 24px 20px 24px;
    
      background-color: rgb(155, 154, 154);
    
      font-size: medium;
      color: whitesmoke;
    
      cursor: pointer;
      
      box-shadow:
      100px 100px 80px rgba(0, 0, 0, 0.06);
      
      position: relative;
    
      overflow: hidden;
}
    
    

#createacct:hover,
#createacct:focus-visible
{
      background-color: #28A745B2;
    
      color: whitesmoke;
      border-color: whitesmoke;
      border: 1px solid;
}

   
    
#have-acct
{
      font-size: 14px;
      align-self: center;
}
    
#usertype a
{
      color: #28A745;
}
    
        /* Create Account Page */
    
#create-acct-container
{
      width: 100%;
      height: 100vh;
    
      display: flex;
      flex-direction: column;
      align-items: center;
    
      padding: 20px 200px 30px 200px;
}
    
#create-acct-form
{
      width: 60%;
    
      display: flex;
      flex-direction: column;
      align-items: center;
}
    
#google-signup
{
      width: 70%;
      background-color: #28A745;
      display: flex;
      justify-content: center;
      align-self: center;
    
      margin-top: 20px;
      margin-bottom: 20px;
    
      border-radius: 16px;
    
      padding-top: 10px;
      padding-bottom: 10px;
    
      position: relative;
    
      cursor: pointer;
}
    
#google-icon
{
      position: absolute;
      left: 80px;
      top: 40%;
      transform: translateY(-20%);
}
    
#name, #email, #password, #confirm-pass, #phone
{
      width: 100%;
    
      margin-top: 10px;
    
}
    
#name
{
      display: flex;
      justify-content:space-between;
}
    
#name input
{
      width: 40%;
      padding: 10px 45px 10px 10px;
}
    
#email input
{
      width: 100%;
      padding: 10px 45px 10px 10px;
}
    
#password input
{
      width: 100%;
      padding: 10px 45px 10px 10px;
}
    
#confirm-pass input
{
      width: 100%;
      padding: 10px 45px 10px 10px;
}
    
#phone input
{
      width: 100%;
      padding: 10px 45px 10px 10px;
}
    
#promotional-email, #acknowledgement
{
      width: 100%;
    
      margin-top: 10px;
      display: flex;
      align-items: center;
    
      padding-right: 200px;
    
      font-size: 12px;
}
    
#promotional-email label input
{
      accent-color: rgb(115, 233, 115);
      margin-right: 40px;
}
    
#acknowledgement label input
{
      accent-color: rgb(115, 233, 115);
      margin-right: 40px;
}
    
#create-acct-form button
{
      border-style: none;
      border-radius: 14px;
      background-color: #B8B8B8;
      margin-top: 20px;
      padding: 10px 30px 10px 30px;
    
      color: whitesmoke;
    
      cursor: pointer;
}
    
#create-acct-form p
{
      margin-top: 10px;
      font-size: 12px;
}
    
#create-acct-form a
{
      color: #28A745;
}
