/* Navbar styling */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px 20px 40px;
}
.Logo {
  width: 200px;
}
.nav-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70%;
  font-size: 16px;
}
.navitems {
  display: flex;
  list-style: none;
  color: #fff;
  gap: 50px;
}
.nav-btn {
  width: 200px;
  display: flex;
  justify-content: space-between;
}
.sign-up {
  background-color: transparent;
  border: none;
  text-decoration: underline;
  color: #fff;
  font-size: 16px;
}
.Login {
  background-color: #27a745;
  border: none;
  padding: 7px 20px 7px 20px;
  color: #fff;
  border-radius: 5px;
  font-size: 16px;
}

/* Hero section styling */
.background {
  background: url(./assets/background_image.png);
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  height: 100vh;
}
.main {
  position: relative;
  top: 270px;
  padding-left: 90px;
}
.main h1 {
  color: #fff;
  font-weight: 700;
  font-size: 75px;
  width: 650px;
  line-height: 80px;
  padding-bottom: 30px;
}
.catch-phrase {
  width: 650px;
  font-size: 25px;
  padding-bottom: 20px;
}
.Join {
  padding: 15px 70px 15px 70px;
  border: none;
  border-radius: 10px;
  background-color: #28a745;
  font-size: 16px;
  color: #fff;
}

/* Advert design section */
.adv1 {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.adv-article {
  display: flex;
  gap: 150px;
  margin-bottom: 20px;
}
.inner-div {
  display: flex;
  flex-direction: column;
}
.inner-div h2 {
  font-size: 40px;
  font-weight: 500;
  line-height: 50px;
  width: 400px;
  padding-top: 25px;
  padding-bottom: 30px;
}
.inner-div p {
  width: 450px;
  line-height: 30px;
  margin-top: -10px;
}
.inner-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding-bottom: 40px;
}
.inner-list li {
  display: flex;
  gap: 10px;
  align-items: center;
}
.learn-more {
  background-color: transparent;
  padding: 15px 40px 15px 40px;
  border-radius: 10px;
  border: 1px solid #9e9e9e;
  color: #9e9e9e;
}
.sign {
  border: none;
  background-color: transparent;
  color: #9e9e9e;
  margin-left: 30px;
}
.intro {
  color: #28a745;
  font-size: 24px;
  margin-bottom: -10px;
}
.sub-paragraphs {
  display: flex;
  gap: 25px;
  padding-top: 10px;
}
.sub-paragraphs p {
  width: 210px;
  padding-top: 20px;
}

/* Pitch section design */
.pitch {
  display: flex;
  padding-top: 30px;
  flex-direction: column;
  align-items: center;
  /* background-color: gray; */
}
.pitch h1 {
  font-weight: 600;
  font-size: 40px;
  padding-bottom: 50px;
}
.pitch-article {
  display: flex;
  justify-content: center;
  gap: 50px;
}
.pitch-article article {
  /* background-color: red; */
  width: 19.5%;
  display: flex;
  flex-direction: column;
  line-height: 25px;
}
.pitch-article img {
  border: 2px solid #28a745;
  border-radius: 25px;
}
.pitch-article h2 {
  font-weight: 600;
  font-size: 23.5px;
  padding-top: 20px;
  padding-bottom: 20px;
  line-height: 32px;
}
.pitch-btn button {
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  border: 1px solid #28a745;
  padding: 10px 30px 10px 30px;
  border-radius: 10px;
  color: #28a745;
  font-size: 16px;
  font-weight: 500;
  margin-top: 30px;
}
